/bin
/bin-int
/Dovah/*.filters
/Dovah/*.user
/Dovah/*.vcxproj
/Sandbox/*.vcxproj
/Sandbox/*.user
/.vs
/*.sln
/vendor
/Sandbox/.vs
/Dovah/vendor/Glad/bin
/Dovah/vendor/Glad/bin-int
/Dovah/vendor/Glad/Glad.vcxproj
/Dovah/vendor/Glad/Glad.vcxproj.filters
/Sandbox/Sandbox.vcxproj.filters
