[submodule "Dovah/vendor/spdlog"]
	path = Dovah/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dovah/vendor/GLFW"]
	path = Dovah/vendor/GLFW
	url = https://github.com/Cirno9F/glfw
[submodule "Dovah/vendor/imgui"]
	path = Dovah/vendor/imgui
	url = https://github.com/Cirno9F/imgui.git
